{% extends "www3/base.html" %}
{% block js %}
{% endblock %}
{% block content %}
<div id="site_content">
<h2>About Triplander.com</h2>
<p><strong>Triplander.com</strong> is an open source project created by <a href="http://en.wikipedia.org/wiki/User:Angelo.romano">Angelo Romano</a>, 
an Italian Web/software developer. The project was originally designed in 2007 with the aim to build a innovative, intelligent travel-agency Web 
system capable to help customers in their search for (both actual and potential) favourite destinations. 
The project was successively started being implemented in the summer of 2008, with the first public beta being published later in September of the 
same year.<br />
The website currently features only European cities and countries (including also Iceland, Greenland, Israel, Armenia, Azerbaijan and Georgia, plus a 
very few Asiatic Russia cities). It is, of course, a merely temporary choice made in order to deal with a reasonable workload; we want to offer a 
service that works, and it is obviously much easier to test it with a limited number of dynamic contents. We aim to extend the service at least to 
North American cities in the near future, and the whole world once the system is out of beta.<br />
Triplander.com is still under quite a heavy development, and the currently published system is just a short overview of all the features we aim to 
offer in the future. As you can probably understand, this website is a dramatic work-in-progress; so, stay tuned and, why not?, in the meantime look 
for your town at Triplander.com!</p>
<h3>Technical aspects</h3>
<p>Triplander.com is based on a number of innovative open source applications, whose choice is definitely not a random one. 
The main system was built with <a href="http://www.djangoproject.org">Django</a>, a Python-based framework for well-sized applications 
which offers the opportunity to code and develop new features in a very extensive and nonetheless simple way.<br />
Triplander.com also uses <a href="http://jquery.com">jQuery</a> to deal with all the JavaScript &amp; AJAX clutter around, 
and <a href="http://www.postgresql.org">PostgreSQL</a> as DBMS &ndash; with <a href="http://postgis.refractions.net">PostGIS</a> extensions, of course.</p>
</div>
{% endblock %}
