{% extends "www3/base.html" %}
{% block js %}
{% endblock %}
{% block content %}
<div id="site_content">
<h2>Contact</h2>
<p>For information, suggestions, proposals, or just to exchange a couple of words about Triplander.com and its techniques, feel free to contact its author <strong>Angelo Romano</strong>.</p>
<p>
<ul>
<li>Email address: <span class="li_value">angelo(dot)romano[AT]gmail(dot)com</span></li>
<li>Wikipedia userpage: <span class="li_value"><a href="http://en.wikipedia.org/wiki/User:Angelo.romano">http://en.wikipedia.org/wiki/User:Angelo.romano</a></span></li>
<li>LinkedIn profile: <span class="li_value"><a href="http://www.linkedin.com/in/angeloromano2">http://www.linkedin.com/in/angeloromano2</a></span></li>
<li>DjangoPeople profile: <span class="li_value"><a href="http://djangopeople.net/aromano">http://djangopeople.net/aromano</a></span></li>
</ul>
</p>  
</div>
{% endblock %}